[submodule "zsh/lib/zsh-git-prompt"]
	path = zsh/lib/zsh-git-prompt
	url = https://github.com/starcraftman/zsh-git-prompt.git
	branch = master
[submodule "zsh/lib/fzf"]
	path = zsh/lib/fzf
	url = https://github.com/junegunn/fzf.git
	branch = master
